{% extends 'AppBundle:default:base.html.twig' %}
{% block body %}
    <div class="page">
        {% block content %}
        {% endblock %}
    </div>
    {% block pageNote %}
    {% endblock %}

{% endblock %}
