{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
  <div class="h832">
        <div class="innerDiv">
            <img src="{{ asset('assets/default/')}}images/page7Bg.jpg" class="abs bgImg">
            <a href="http://mp.weixin.qq.com/s?__biz=MzA5Njc5ODE4Mg==&mid=216889110&idx=1&sn=172577b9fbb2af5c848eace840d136de&scene=0#rd" class="abs page7Btn1"><img src="{{ asset('assets/default/')}}images/page7Btn1.png"></a>
            <a href="{{ url('_intro') }}" class="abs page7Btn2"><img src="{{ asset('assets/default/')}}images/page7Btn2.png"></a>
        </div>
    </div>
{% endblock %}