{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
   <div class="h832">
        <div class="innerDiv">
            <img src="{{ asset('assets/default/')}}images/ruleBg.jpg" class="abs bgImg">
            <div class="abs rule">
                <h1>美利亚酒店集团“十二道美味”<br>活动说明及条例</h1>
                <p>该活动由美利亚酒店集团主办，并由睿桥公关咨询（上海）有限公司执行，活动受中华人民共和国相关法律法规约束。活动参与者需居住在中国境内（不包括港澳台地区）。美利亚酒店集团持有活动的最终解释权。</p>
                <h2>活动规则</h2>
                <p>所有参与者需遵循以下规则：<br><br>
					 •	关注“美利亚酒店集团”微信公众号；<br>
					 •	回答全部5道美食知识竞猜问题；<br>
					 •	分享至朋友圈邀请朋友参与活动；</p>
                 
                <h2>活动奖品</h2>
                <p>•   终极大奖：免费下榻西安盛美利亚酒店1晚， 往返机票1张（出发城市仅限上海、北京、广州以及深圳），酒店DUO西班牙餐厅用餐券（2个名额）<br>
                *预订将受限于可用客房数量;<br><br>
                •   幸运奖品：美利亚酒店集团精美礼物（每日5个，共30个名额）；</p>
                
                <h2>活动细则</h2>
                <p>•	关注“美利亚酒店集团”微信公众号，扫描二维码或搜索微信ID“MHIChina ”并关注；<br>
				•	回答所有5道问题并提交；<br>
				•	分享你的作品至微信朋友圈；<br>
				•	每人仅可参与一次答题；<br>
				•	2名终极大奖将从符合以上操作的参与者中随机挑选；<br>
				•	获奖结果将于 2015年9月28日公布在“美利亚酒店集团”微信公众号；</p>
                
                <h2>活动条例</h2>
                <p>1.参与者对本次活动的参与被视为充分理解并接受所有活动细则及条例；<br><br>
				2.活动时间为：北京时间2015年9月21日12时至2015年9月25日23:59，共为期5日；主办方无需为任何导致错失活动时间或上传错误信息的失误承担任何责任。<br><br>
				3.参与者必须回答正确全部5道问题，提交姓名、邮箱地址、联系电话并分享至微信朋友圈来参与比赛。“终极大奖” 获奖者将于活动结束后随机挑选。<br><br>
				4. 参与者一旦参加本活动即表示同意授权美利亚酒店集团对其本邮箱信息无偿的使用，以及接受美利亚酒店集团相关优惠信息邮件，无须另行征求该用户同意；<br><br>
				5. 活动期间参与者一旦上传照片或文字，即默认为参与者授权主办方及承办方以及他们指定的任何第三方拥有该作品的使用权（包括但不限于法律允许范围的任何形式的作品的使用权），即从2015年9月21日起的三年期内，允许主办方在严格遵守《信息安全技术公共及商用服务信息系统个人信息保护指南》等相关法律法规；<br><br>
				6. 获奖者须在活动规定的截止时间内按要求将其相关的个人信息提供给主办方，若因其个人原因（包括但不仅限于个人信息有误或无效）而导致奖品未被成功领取或兑换，主办方有权以适当方式处置奖品（包括但不限于将该等奖品视为无效并从推广活动中取消），且无须另行告知其他参与人员或承担任何相关责任；<br><br>
				7.主办方美利亚酒店集团持有活动最终解释权，所有获奖事宜授权睿桥公关咨询（上海）有限公司操作；<br><br>
				8.终极大奖将于2015年9月30日公布；<br><br>
				9.所有获奖者（2名终极大奖获奖者及30名幸运奖获奖者）将由电子邮箱通知或电话通知；<br><br>
				10. 所有奖品不可进行替换、转让或以奖品兑换现金或积分及其他，奖品亦不可用于抵消抵扣已发生支付行为的任何消费费用。睿桥公关咨询（上海）有限公司无须为活动条例以外任何事宜承担相应责任；<br><br>
				11. 获奖者因自身原因（如提供个人信息超时、不全或有误、不满意奖品）导致一个月内无法如常领取，主办方无须为此承担任何责任，且有权将相应奖品授予其他符合资格的参与者，并持有活动最终解释权；<br><br>
				12. 活动参与者须满18岁或以上，活动主办方与所有参与承办的机构人员，及其直系亲属（父母、子女、兄弟姐妹和各自配偶）不可参加此次活动，以示公允。</p>
            </div>
            <a href="{{ url('_index') }}" class="abs ruleBtn"><img src="{{ asset('assets/default/')}}images/ruleBtn.png"></a>
        </div>
    </div>
{% endblock %}